$w: 360px;
$h: 360px;

$containerBackgroundColor: transparent;

$backgroundColor: #142601;

$backgroundColor1: $backgroundColor;
$background1: radial-gradient(ellipse at center, darken($backgroundColor1, 10) 0%, lighten($backgroundColor1, 1) 50%, #000 85%);

$backgroundColor2: rgba(109, 0, 160, .7)
$background2: radial-gradient(ellipse at center, darken($backgroundColor2, 70) 0%, lighten($backgroundColor2, 1) 50%, #000 90%); 

$backgroundColor3: rgba(196, 130, 25, .5);
$background3: radial-gradient(ellipse at center, darken($backgroundColor3, 50) 0%, lighten($backgroundColor3, 1) 50%, #000 90%); 

$backgroundColor4: white
$background4: radial-gradient(ellipse at center, darken($backgroundColor4, 50) 0%, darken($backgroundColor4, 5) 40%, #444 80%); 


$myGreen: #00ff11;
$myShadowColor: #898989;

$digitalImgSize: 26px;
$digitilImgSecsSize: 18px;
$digitalViewBackgroundColor: #000;
$digitalViewBorder: 1px solid #111;
$digitalViewBorderRadius: 5px;
$digitalViewBoxShadow: 1px 1px 2px 0px rgba(55,55, 55,0.5);


$analogClockBackgroundColor: #444;
$analogNumbersColor: #111;
$analogNumbersBackgroundColor: #d8d8d8;
$analogNumbersBorder: 1px solid #333333;
$analogNumbersBoxShadow:  inset 1px 1px 2px 0px rgba(0,0,0,0.75);
$analogNumbersTextShadow: 1px 1px 1px rgba(150, 150, 150, .5);

$analogDotBackground: radial-gradient(ellipse at center, darken($myGreen, 20) 0%, lighten($backgroundColor, 1) 50%, darken($myGreen, 5) 70%);;

$analogNumbersFontSize: 12px;
$analogNumbersFontFamily: monospace;
$analogNumbersAmbientColor: #999;
$analogNumbersAmbientBackgroundColor: #111;

$analogAncentColor: transparent;
$analogAncentColorMain: #ffa100;
$analogAncentOpacity: 1;

$analogAncentAmbientColor: grey;

$analogNeedleColor: $myGreen;
$analogNeedleShadowColor: $myShadowColor;
$analogNeedleOpacity: 1;

$analogNeedleBackgroundColor: $myGreen;

$analogNeedleAmbientColor: green;

$analogNeedleSecondsColor: #ff9d00;
$analogNeedleSecondsBackgroundColor: #ff9d00;
$analogNeedleSecondsShadowColor: $myShadowColor;


$analogNeedleSecLength: 45%;
$analogNeedleMinLength: 30%;
$analogNeedleHourLength: 20%;

$dateColor: #111;
$dateAmbientColor: #999;
$dateBackgroundColor: #d8d8d8;
$dateAmbientBackgroundColor: #111;
$dateBorderColor: #848484;
$dateBoxShadow:  inset 1px 1px 2px 0px rgba(0,0,0,0.75);
$dateTextShadow: 1px 1px 1px rgba(150, 150, 150, 1);
$dateFontSize: 12px;

$countdownColor: #ffcc00;
$countdownTextShadow: 1px 1px 1px rgba(150, 150, 150, 1);
